{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock title %}
{% block content %}

<div class="fluid-container d-flex mt-5 mb-5">
    <div class="card justify-content-center align-self-center mx-auto">
        <div class="card-header font-weight-bold"><h1>Password change</h1></div>
        <p>Please enter your old password, for security's sake, and then enter your
            new password twice so we can verify you typed it in correctly.</p>
    
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn bg-dark text-white btn-sm" type="submit" value="Change my password">
                <a class="btn bg-dark text-white btn-sm" href="{% url 'home' %}">Back</a>
            </form>
            

        </div>
    </div>
    </div>
{% endblock content %}