<!-- templates/topDestinations.html-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="font-weight-bold text-white mt-5 mb-5"><h1>Top Destinations</h1></div>
    <div class="card p-2 mb-5">
        
        <div class="card-body">
            <h3 class="display-4 text-center">Paris</h3>
            <!--picture - https://images.app.goo.gl/vbJChnJJB88MZ1U89 -->
            <img class="card-img-top  mx-auto d-block" src="{% static 'images/Paris.jpg'%}" alt="Card image" style="width:400px"><br>
            <!--text - https://www.google.com/search?q=Paris&rlz=1C1CHZL_en-gbIE843IE843&oq=Paris&aqs=chrome..69i57j69i60.871j0j7&sourceid=chrome&ie=UTF-8 -->
            <p>Paris, France's capital, is a major European city and a global centre for art, fashion, gastronomy and culture. 
                Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, 
                Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.</p><br><br>
            <h3 class="display-4 text-center">New Zealand</h3>
            <!--picture - https://images.app.goo.gl/2KwkRtJNL2po1yLa8 -->
            <img class="card-img-top mx-auto d-block" src="{% static 'images/NewZealand.jpg'%}" alt="Card image" style="width:400px"><br>
            <!--text - https://www.outsideonline.com/2408674/new-zealand-south-island-travel-guide -->
            <p>On the island’s northeast coast, Canterbury’s tussock-covered plains meet thousands of miles of golden beaches;  
                glaciers hidden among thick swaths of rainforest; remnants of extinct volcanoes form a rugged coastline holding bright blue bays; 
                rare penguins thrive in forests that almost reach the sea. The snow-capped peaks of the Southern Alps run through it all, punctuated by aquamarine glacial lakes. 
                Activities abound throughout the entire country, surf rocky coastlines, and paddle roaring rivers. 
                The island is also home to seven of the ten Great Walks, as well as the country’s highest peaks and most expansive rainforests.</p><br><br>
            <h3 class="display-4 text-center">Bora Bora</h3>
            <!--picture - https://images.app.goo.gl/Jso2aScrTBt91wKQ6 -->
            <img class="card-img-top mx-auto d-block" src="{% static 'images/BoraBora.webp'%}" alt="Card image" style="width:400px"><br>
            <!--text - https://en.wikipedia.org/wiki/Bora_Bora -->
            <p>Is an island group in the Leeward group in the western part of French Polynesia’s Society Islands. 
                The main island is surrounded by a lagoon and a barrier reef. In the centre of the island are the remnants of an extinct volcano rising to two peaks, 
                Mount Pahia and Mount Otemanu, the highest point at 727 metres (2,385 feet). 
                Bora Bora is a major international tourist destination, famous for its aqua-centric luxury resorts. 
                Produce of the island is mostly limited to what can be obtained from the sea and the plentiful coconut trees, 
                which were historically of economic importance for copra.</p><br><br>
            <h3 class="display-4 text-center">Saint Petersburg, Russia</h3>
            <!--picture - https://images.app.goo.gl/n5KdS8bA2fsy2LEf8 -->
            <img class="card-img-top mx-auto d-block" src="{% static 'images/StPetersburg.jpg'%}" alt="Card image" style="width:400px"><br>
            <!--Text -  https://www.tripadvisor.ie/Tourism-g298507-St_Petersburg_Northwestern_District-Vacations.html 
                        https://en.wikipedia.org/wiki/Saint_Petersburg
                        https://www.nationalgeographic.com/travel/destinations/europe/russia/st-petersburg/ultimate-three-day-weekend-itinerary-things-to-do/-->
            <p>Saint Petersburg is known as the "Cultural Capital of Russia" and is one of the most important tourism centres in the country.
            Home to cultural figures like Gogol, Tchaikovsky and Dostoyevsky, St Petersburg has seen historic events including the end of the monarchy, 
            the Bolshevik uprising and 1917 Revolution. With hundreds of museums and theatres and features such architectural gems as the Winter Palace, 
            the Kazan Cathedral and the Peter and Paul Fortress with its gardens and gilded spires, fountains and frescoes. For summertime travellers, 
            the weeks surrounding the solstice in June are perfect for long days of exploring and nights illuminated by the midnight sun.</p><br><br>
            <h3 class="display-4 text-center">Tokyo</h3>
            <!--picture - https://images.app.goo.gl/sadBxLAVBEBbnogw9 -->
            <img class="card-img-top mx-auto d-block" src="{% static 'images/tokyo.jpg'%}" alt="Card image" style="width:400px"><br>
             <!--text - https://www.britannica.com/topic/Trilateral-Commission 
                        https://www.gotokyo.org/en/see-and-do/shopping/index.html -->
            <p>Tokyo is Japan’s major cultural centre. Displays depicting the art and history of Japan and Asia are featured at the Tokyo National Museum in Ueno Park. 
                Ueno Park is also the site of a science museum, a zoological garden, and two major art museums. 
                Theatrical works, including everything from traditional Kabuki to modern drama, are performed regularly, 
                as are symphonic works, operas, and other Western forms of dance and music.
                There is enormous shopping district to suit everyone’s tastes and many stores offer tax free shopping to international visitors, so take your passport.</p><br><br>
            <h3 class="display-4 text-center">Glacier National Park, Montana, USA</h3>
            <!--picture - https://images.app.goo.gl/3HoYk5gYB3h6Tp11A -->
            <img class="card-img-top mx-auto d-block" src="{% static 'images/GlacierNationalPark.jpg'%}" alt="Card image" style="width:400px"><br>
            <!--text - https://www.nps.gov/glac/index.htm
                       https://www.google.com/search?q=Glacier+National+Park&source=lmns&bih=521&biw=1280&rlz=1C1CHZL_en-gbIE843IE843&hl=en-GB&sa=X&ved=2ahUKEwj2mbie7OPsAhWjt3EKHQLCDUIQ_AUoAHoECAEQAA-->
            <p>Glacier National Park is a 1,583-sq.-mi. wilderness area in Montana's Rocky Mountains, with glacier-carved peaks, pristine forests, alpine meadows, 
                rugged mountains, spectacular lakes and valleys running to the Canadian border. It's crossed by the mountainous Going-to-the-Sun Road. 
                Among more than 700 miles of hiking trails is a paradise for adventurous visitors seeking wilderness and solitude and it has a route to photogenic Hidden Lake.
                Other activities include backpacking, cycling and camping. Diverse wildlife ranges from mountain goats to grizzly bears.
                Relive the days of old through historic chalets and lodges.</p><br><br>
            <h3 class="display-4 text-center">Maui</h3>
            <!--picture - https://images.app.goo.gl/y6JBsixG9FgpTZMu6 -->
            <img class="card-img-top mx-auto d-block" src="{% static 'images/Maui.jpg'%}" alt="Card image" style="width:400px"><br>
            <!--text - https://www.gohawaii.com/islands/maui -->
            <p>Maui is part of the State of Hawaii and is the second-largest of Maui County’s four islands.
                Each of Maui’s beaches has something different to offer, so whether you want activities on the water or total relaxation, you’re sure to find the perfect beach for you. 
                 Activities include farm tours, hiking trails, family friendly attractions, snorkelling, swimming, paddle boarding, helicopter tours, parasailing and much more.</p><br><br>
        </div>
</div>
{% endblock content %}
